// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 300 to 800
.open-sans-<uniquifier> {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}
.form_style{
    width: 800px;
    background-color: #110854;
    padding: 16px;
    border-radius: 20px;
}
body{
    background-color: #0A0533;
    color: #fff;
}